.data-table {
    width: auto;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.custom-table-cell {
    border-right: 1px solid rgba(224, 224, 224, 1);
  }
  
  .custom-table-cell:last-child {
    border-right: none;
  }
  

.data-table th,
.data-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
}

.data-table th {
    background-color: #dadada;
}

.bold {
    font-weight: bold;
}

.container {
    overflow-x: auto;
}

.scrolling {
    overflow-x: auto;
}

@media (max-width: 600px) {
    .data-table {
      max-width: 90%;
      font-size: 9px;
    }
    .small-font {
      font-size: 9px;
    }
    .table-scroll {
      overflow-x: auto;
    }
  }
  