.financials {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.financials-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.financials-grid div {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  word-wrap: break-word;
}

.mkt-cap {
  margin: auto;
  text-align: center;
  padding: 5px;
}

.center {
  text-align: center;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .financials-grid {
    grid-template-columns: 1fr;
  }

  .financials-grid div {
    padding: 15px;
  }
}
