.financials {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.financials-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Three equal columns */
  gap: 20px;
}

.financials-grid div {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  word-wrap: break-word;
  text-align: center; /* To center the content in the div */
}

.mkt-cap {
  margin: auto;
  text-align: center;
  padding: 5px;
}

.center {
  text-align: center;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .financials-grid {
    grid-template-columns: 1fr 1fr 1fr; /* Three equal columns on mobile */
    gap: 10px;
  }

  .financials-grid div {
    padding: 10px;  /* Reduce padding */
    font-size: 0.8em; /* Reduce font size */
  }
}