.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  color: #444;
  overflow-x: auto; /* Enable horizontal scrolling if necessary */
}

.container > * {
  width: 100%;
}

h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  flex: 1;
}

button {
  padding: 15px 25px;
  font-size: 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #555;
}

.data-table-container {
  margin-bottom: 30px;
  text-align: justify;
  overflow-x: auto; /* Enable horizontal scrolling for tables */
}

.loading {
  color: #333;
}

.error {
  color: red;
}

/* Responsive Styles */
@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  form {
    flex-direction: column;
  }

  input[type="text"] {
    margin-bottom: 10px;
  }

  button {
    width: 100%;
  }
}

.small-text {
  font-size: 90%;
  text-align: center;
}

.stock-name-container {
  display: flex;
  justify-content: center;
}

.signin-container {
  text-align: center;
  padding-top: 5%;
}

.signin-form {
  display: block;
}

.signin-input {
  display: block;
  margin: 10px auto;
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.signin-btn {
  display: block;
  margin: 20px auto;
  width: 80%;
}

.container::-webkit-scrollbar {
  display: none;  /* Hide scrollbar for Chrome, Safari, and Opera */
}

.container {
  -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
  scrollbar-width: none;     /* Hide scrollbar for Firefox */
}

.signup-container {
  text-align: center;
  padding-top: 5%;
}

.signup-form {
  display: block;
}

.signup-input {
  display: block;
  margin: 10px auto;
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.signup-btn {
  display: block;
  margin: 20px auto;
  width: 80%;
}
